<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
</head>
<body>
    <form method="POST" action="/resultado">
        <p>
            <label for="notat1">Nota do primeiro trabalho: </label>
            <input type="number" id="notat1" name="notat1">
        </p>

        <p>  
            <label for="notat2">Nota do segundo trabalho: </label>
            <input type="number" id="notat2" name="notat2">
        </p>

        <p>
            <label for="notaLista">Nota das Listas (separe com vírgulas)</label>
            <input type="text" id="notaListas" name="notaListas">
        </p>

        <p><input type="submit" name="botao" value="Registrar"></p>

    </form>   
</body>
</html>